@font-face {
    font-family: "myfont";
    src: url("/fonts/OldStandardTT-Bold.ttf");
}

@font-face {
    font-family: "myfont1";
    src: url(/fonts/OldStandardTT-Regular.ttf);
}
.par{
    font-family: "myfont";
    font-weight: 700;
    font-size: 20px;
}
.par1{
    font-family: "myfont1";
    font-weight: 400;
    font-size: 16px;
}
.par2{
    font-family: "myfont1";
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
}